# Watchdog device
watchdog-device = /dev/watchdog

# Watchdog timeout in seconds
watchdog-timeout = 15

# Maximum load average for the system
max-load-1 = 24

# Minimum free memory in MB
min-memory = 1

interface = wlan0