---

- Personal:
    - OneMoreThing:
        - icon: mdi-format-list-checks
          href: https://dlevchuk.github.io/OneMoreThing
    - PiZero:
        - icon: raspberry-pi
          href: http://zero.tail72e9f.ts.net:8080

- Entertainment:
    - YouTube:
        - icon: youtube
          href: https://youtube.com/
    - Rezka:
        - icon: mdi-filmstrip
          href: https://rezka-ua.pub/
    - UA Kino:
        - icon: mdi-movie-open
          href: https://uakino.best/ua/
    - UA Serial:
        - icon: mdi-television-classic
          href: https://uaserials.com
    - Live TV:
        - icon: mdi-television-play
          href: https://livetv.sx/allupcoming/