---

- AI:
    - Gemini:
        - abbr: GM
          href: https://gemini.google.com/app
    - Claude:
        - abbr: CL
          href: https://claude.ai/new
    - ChatGPT:
        - abbr: GPT
          href: https://chatgpt.com

- Entertainment:
    - YouTube:
        - abbr: YT
          href: https://youtube.com/
    - Rezka:
        - abbr: RZ
          href: https://rezka-ua.pub/
    - UA Kino:
        - abbr: UK
          href: https://uakino.best/ua/
    - UA Serial:
        - abbr: US
          href: https://uaserials.com
    - Live TV:
        - abbr: LT
          href: https://livetv.sx/allupcoming/