---

- Personal:
    - OneMoreThing:
        - abbr: Wishlist
          href: https://dlevchuk.github.io/OneMoreThing/#quests

- Entertainment:
    - YouTube:
        - abbr: YT
          href: https://youtube.com/
    - Rezka:
        - abbr: RZ
          href: https://rezka-ua.pub/
    - UA Kino:
        - abbr: UK
          href: https://uakino.best/ua/
    - UA Serial:
        - abbr: US
          href: https://uaserials.com
    - Live TV:
        - abbr: LT
          href: https://livetv.sx/allupcoming/