---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

title: "Raspberry Pi"
theme: dark
color: slate
cardBlur: sm
headerStyle: clean
target: _blank

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: false
  showSearchSuggestions: true
  provider: google
  target: _blank

layout:
  Infrastructure:
    style: row
    columns: 4
  Applications:
    style: row
    columns: 3

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey
