---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/widgets/

- datetime:
    text_size: xl
    format:
      timeStyle: short
      dateStyle: long
      hour12: false

- resources:
    label: System
    cpu: true
    memory: true
    disk: /
    uptime: true


