---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/widgets/

- datetime:
    text_size: xl
    format:
      timeStyle: short
      dateStyle: long
      hour12: false

- openmeteo:
    label: Odesa
    latitude: 46.4825
    longitude: 30.7233
    timezone: Europe/Kyiv
    units: metric
    cache: 5

- resources:
    label: Raspberry Pi
    cpu: true
    cputemp: true
    memory: true
    disk: /
    uptime: true
