name: weather report

on:
  schedule:
    # Runs every 6 hours
    - cron: '0 */6 * * *'
  # Manual trigger
  workflow_dispatch:

jobs:
  send-weather:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          pip install requests
      
      - name: Run weather bot
        run: python scripts/meteo_data/meteo.py
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_TO }}